<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логин</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>

    <div class="register-button-container">
        <a href="registr.html">
            <button class="register-button">Регистрация</button>
        </a>
    </div>

    <div class="form-container">
        <h2>Логин</h2>
        <form action="#" method="post">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" placeholder="Введите ваше имя" required>

        

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" placeholder="Введите пароль" required>

            <a href="main.html">
                <button class="main-button">Отправить</button>
            </a>
        </form>
    </div>

</body>
</html>
