<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Главное меню</title>
</head>
<body>
    <div class="sidebar">
        <div class="column-left">
            <div class="button messages">
                <a href="messages.html">
                    <div class="icon">
                        <img src="/static/photo/mesage.jpg" alt="Сообщения">
                    </div>
                    <div class="text">
                        <span class="title">Сообщения</span>
                        <span class="details">Оценка: Кыргыз тили - 41%</span>
                        <span class="details">The book you follow has been returned and is now available for reservation: Christina Latham-Koenig, Clilve Oxengen, Jerry Lambert: English File Intermediate Student’s Book</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="column-right">
            <div class="button small">
                <a href="journal.html">
                    <div class="icon">
                        <img src="/static/photo/jour.jpg" alt="Классный журнал">
                    </div>
                    <div class="text">
                        <span class="title">Классный журнал</span>
                    </div>
                </a>
            </div>
            <div class="button grades">
                <a href="grades.html">
                    <div class="icon">
                        <img src="/static/photo/grade.jpg" alt="Оценки">
                    </div>
                    <div class="text">
                        <span class="title">Оценки</span>
                        <span class="details">Вторник 31.12.2024 - 41%</span>
                    </div>
                </a>
            </div>
            <div class="button payments">
                <a href="payments.html">
                    <div class="icon">
                        <img src="/static/photo/bax.jpg" alt="Платежи">
                    </div>
                    <div class="text">
                        <span class="title">Платежи</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    

    <!-- Дневник -->
    <div class="diary">
        <div class="schedule-container">
            <div class="header">
                <button class="arrow left-arrow">&lt;</button>
                <h1 id="day-title">Понедельник</h1>
                <button class="arrow right-arrow">&gt;</button>
            </div>
            
            <div id="schedule">
                <!-- Расписание будет добавлено динамически -->
            </div>
        </div>
        </div>
        <script src="/static/script.js"></script>
    <div class="recomend">
        <h2>Рекомендации по питанию</h2>
        <table>
            <thead>
                <tr>
                    <th>День</th>
                    <th>Рекомендация</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Понедельник</td>
                    <td>Хуй хуй хуй хуй хуй хуй хуй </td>
                    
                </tr>
                <tr>
                    <td>Вторник</td>
                    <td>Пизда пизда пизда пизда пизда </td>
                    
                </tr>
                <tr>
                    <td>Среда</td>
                    <td>Хуй хуй хуй хуй хуй хуй хуй</td>
                    
                </tr>
                <tr>
                    <td>Четверг</td>
                    <td>Пизда пизда пизда пизда пизда </td>
                    
                </tr>
                <tr>
                    <td>Пятница</td>
                    <td>Хуй хуй хуй хуй хуй хуй хуй</td>
                    
                </tr>
                <tr>
                    <td>Суббота</td>
                    <td>Пизда пизда пизда пизда пизда </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
