<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/mesage.css">
    <title>Сообщения</title>
</head>
<body>
    <div class="messages-container">
        <div class="header">
            <h1>Сообщения</h1>
            <a href="main.html" class="back-button">Вернуться на главную</a>
        </div>
        <div class="message">
            <h2>Оценка: Кыргыз тили</h2>
            <p>Результат: 41%</p>
        </div>
        <div class="message">
            <h2>Домашнее задание</h2>
            <p><b>Математика:</b> стр. 45-46, №1-5</p>
        </div>
        <div class="message">
            <h2>Оценка: Химия</h2>
            <p>Результат: 20/25</p>
        </div>
        <div class="message">
            <h2>Домашнее задание</h2>
            <p><b>Русский язык:</b> Упражнение 25</p>
        </div>
        <div class="message">
            <h2>Оценка: Биология</h2>
            <p>Результат: 23/25</p>
        </div>
        <div class="message">
            <h2>Домашнее задание</h2>
            <p><b>История:</b> §12, даты</p>
        </div>
    </div>
</body>
</html>
