<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тарифы</title>
    <link rel="stylesheet" href="/static/payments.css">
</head>
<body>
  <div class="header">
    
    <a href="../main.html" class="back-button">Вернуться на главную</a>
</div>
    <div class="pricing-container">
        <div class="card">
            <h2 class="title">Lite</h2>
            <p class="price">19.900₽</p>
            <p class="subtitle">Стоимость тарифа на месяц</p>
            <ul class="features">
                <li>Анализ магазина продавца на выбранном маркетплейсе.</li>
                <li>Анализ и корректировка юнит-экономики с учетом реальных показателей.</li>
                <li>Разработка стратегии роста и развития.</li>
                <li>Анализ и рекомендации по созданию визуального контента.</li>
                <li>Копирайтинг для карточек товаров.</li>
                <li>SEO-оптимизация карточек товаров.</li>
                <li>Ценообразование.</li>
            </ul>
            <button class="btn">Приобрести</button>
        </div>

        <div class="card">
            <h2 class="title">Standard</h2>
            <p class="price">59.900₽</p>
            <p class="subtitle">Стоимость тарифа на месяц</p>
            <ul class="features">
                <li>Регистрация личного кабинета на выбранной платформе.</li>
                <li>Контроль за фулфилментом товаров.</li>
                <li>Корректное заполнение карточек товаров.</li>
                <li>Еженедельный анализ продаж.</li>
                <li>Мониторинг наличия товаров и составление плана поставок.</li>
                <li>Разработка стратегии по выводу товаров в ТОП.</li>
                <li>Работа с отзывами и вопросами.</li>
                <li>Управление внутренней рекламой.</li>
            </ul>
            <button class="btn">Приобрести</button>
        </div>

        <div class="card">
            <h2 class="title">Premium</h2>
            <p class="price">99.900₽</p>
            <p class="subtitle">Стоимость тарифа на месяц</p>
            <ul class="features">
                <li>Подбор перспективной ниши и товаров с растущими продажами.</li>
                <li>Поиск поставщиков или производителей.</li>
                <li>Индивидуальная поддержка специалиста.</li>
                <li>Финансовый отчет о прибыли и убытках на ежедневной основе.</li>
            </ul>
            <button class="btn">Приобрести</button>
        </div>
    </div>
</body>
</html>